
*{margin:0;padding:0}
body{
	text-align:center;
	background: #fdf0f7;
}
#head_div{
    position: relative;
    width: 1125px;
    text-align: center;
    margin: 0 auto;
}
#head_div .head_img{
    position: relative;
    width: 100%;height: auto;
}
#all{
    position: relative;
    width: 1125px;height: auto;
    top:-4px;
} 
#all .line{
    position: absolute;
    width: 1027px;
    height: 170px;
    border-top: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
    top:0px;;left: 49px;
}
#all .head{
    background: #ffffff;
    height: 174px;
}
#all .one{
    position: relative;
    width: 100%;height: auto;
}
#all .one .head{
    position: relative;
    width: 100%;
}
#all .one .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .one .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .two{
    position: relative;
    width: 100%;height: auto;
}
#all .two .head{
    position: relative;
    width: 100%;
}
#all .two .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .two .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .three{
    position: relative;
    width: 100%;height: auto;
}
#all .three .head{
    position: relative;
    width: 100%;
}
#all .three .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .three .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .four{
    position: relative;
    width: 100%;height: auto;
}
#all .four .head{
    position: relative;
    width: 100%;
}
#all .four .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .four .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .five{
    position: relative;
    width: 100%;height: auto;
}
#all .five .head{
    position: relative;
    width: 100%;
}
#all .five .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .five .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .six{
    position: relative;
    width: 100%;height: auto;
}
#all .six .head{
    position: relative;
    width: 100%;
}
#all .six .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .six .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .seven{
    position: relative;
    width: 100%;height: auto;
}
#all .seven .head{
    position: relative;
    width: 100%;
}
#all .seven .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .seven .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .eight{
    position: relative;
    width: 100%;height: auto;
}
#all .eight .head{
    position: relative;
    width: 100%;
}
#all .eight .bt{
    position: absolute;
    text-align: left;
    font-family: "Microsoft Yahei","仿宋",sans-serif;
    color: #4d4d4d;
    font-size: 41px;
    left:70px;top:60px;
}
#all .eight .right{
    position: absolute;
    right:50px;top:70px;
    transform: rotate(-90deg)
}
#all .one .content {
    position: relative;
    width: 100%;height: auto;
}
#all .one .img{
    position: relative;
    width: 100%;left:0px;
}
#all .two .content {
    position: relative;
    width: 100%;height: auto;
}
#all .two .img{
    position: relative;
    width: 100%;left:0px;
}
#all .three .content {
    position: relative;
    width: 100%;height: auto;
}
#all .three .img{
    position: relative;
    width: 100%;left:0px;
}
#all .four .content {
    position: relative;
    width: 100%;height: auto;
}
#all .four .img{
    position: relative;
    width: 100%;left:0px;
}
#all .five .content {
    position: relative;
    width: 100%;height: auto;
}
#all .five .img{
    position: relative;
    width: 100%;left:0px;
}
#all .six .content {
    position: relative;
    width: 100%;height: auto;
}
#all .six .img{
    position: relative;
    width: 100%;left:0px;
}
#all .seven .content {
    position: relative;
    width: 100%;height: auto;
}
#all .seven .img{
    position: relative;
    width: 100%;left:0px;
}
#all .eight .content {
    position: relative;
    width: 100%;height: auto;
}
#all .eight .img{
    position: relative;
    width: 100%;left:0px;
}
#all .eight .bottom{
    position: absolute;
    margin: 0 auto;
    bottom: 250px;
    height: 150px;
    width: 100%;
    transform:scale(1);
}
#all .eight .copy{
    position: absolute;
    margin: 0 auto;
    top: 3px;
}
#all .eight .tx{
    position: absolute;
    margin: 0 auto;
    top: 27px;
    font-size: 48px;
    color: #ffffff;
    width: 300px;
    height: 96px;
    pointer-events: none
}
#top{
    position: fixed;
    bottom: 120px;
    right: 50px;
}
#tip{
    position: relative;
    margin: 0 auto;
    width: 100%;height: 60px;
    z-index: 999;
    bottom: 500px;
    display: none;
}
#tip font{
    position: absolute;
    margin: 0 auto;
    font-size: 27pt;
    color: #ffffff;
    width: 100%;
    left:0;
}