<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,559},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
            <key>down_stat_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{516,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,63}}</string>
                <key>sourceSize</key>
                <string>{516,63}</string>
            </dict>
            <key>down_stuats_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{516,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,69}}</string>
                <key>sourceSize</key>
                <string>{516,69}</string>
            </dict>
            <key>left_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,628},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>option_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,66}}</string>
                <key>sourceSize</key>
                <string>{572,66}</string>
            </dict>
            <key>pink_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,520},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>pink_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,520},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>right_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,559},{67,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,59}}</string>
                <key>sourceSize</key>
                <string>{67,59}</string>
            </dict>
            <key>spot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,166},{80,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,15}}</string>
                <key>sourceSize</key>
                <string>{80,15}</string>
            </dict>
            <key>spot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,84},{80,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,15}}</string>
                <key>sourceSize</key>
                <string>{80,15}</string>
            </dict>
            <key>spot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{80,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,15}}</string>
                <key>sourceSize</key>
                <string>{80,15}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,520},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>white_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{154,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,62}}</string>
                <key>sourceSize</key>
                <string>{154,62}</string>
            </dict>
            <key>white_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,248},{11,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,22}}</string>
                <key>sourceSize</key>
                <string>{11,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{223,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7c193d5d8063160e6d412d132d65061$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
