<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>decorate_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{377,9},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decorate_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,38}</string>
                <key>spriteSourceSize</key>
                <string>{33,38}</string>
                <key>textureRect</key>
                <string>{{416,9},{33,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongtai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,34}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{451,9},{33,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{486,9},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_res_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{511,9},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,2}</string>
                <key>spriteSourceSize</key>
                <string>{688,2}</string>
                <key>textureRect</key>
                <string>{{1,1},{688,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gray_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,41}</string>
                <key>spriteSourceSize</key>
                <string>{112,41}</string>
                <key>textureRect</key>
                <string>{{149,9},{112,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guree_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,41}</string>
                <key>spriteSourceSize</key>
                <string>{112,41}</string>
                <key>textureRect</key>
                <string>{{263,9},{112,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pl_fengexian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,2}</string>
                <key>spriteSourceSize</key>
                <string>{646,2}</string>
                <key>textureRect</key>
                <string>{{1,5},{646,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,41}</string>
                <key>spriteSourceSize</key>
                <string>{146,41}</string>
                <key>textureRect</key>
                <string>{{1,9},{146,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>decorate.png</string>
            <key>size</key>
            <string>{690,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba2236d99156be5839c3d4c475c01818:fc745858bfca7487f2b9eef53dd2fca4:45f6f0268c0f31418090270288390eb1$</string>
            <key>textureFileName</key>
            <string>decorate.png</string>
        </dict>
    </dict>
</plist>
