<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,82}}</string>
                <key>sourceSize</key>
                <string>{676,82}</string>
            </dict>
            <key>go_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{673,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{673,94}}</string>
                <key>sourceSize</key>
                <string>{673,94}</string>
            </dict>
            <key>name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{662,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,130}}</string>
                <key>sourceSize</key>
                <string>{662,130}</string>
            </dict>
            <key>ps.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,219},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>role.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,182},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>s_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{3,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,39}}</string>
                <key>sourceSize</key>
                <string>{3,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{700,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f443d0437e2a0da289e77515f23d34bc$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
