<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,16},{140,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,56}}</string>
                <key>sourceSize</key>
                <string>{140,56}</string>
            </dict>
            <key>bbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,800},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>bg_zs_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,158},{71,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,106}}</string>
                <key>sourceSize</key>
                <string>{71,106}</string>
            </dict>
            <key>bg_zs_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{169,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,122}}</string>
                <key>sourceSize</key>
                <string>{169,122}</string>
            </dict>
            <key>content_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{626,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,101}}</string>
                <key>sourceSize</key>
                <string>{626,101}</string>
            </dict>
            <key>daydiframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,835},{283,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,35}}</string>
                <key>sourceSize</key>
                <string>{283,35}</string>
            </dict>
            <key>dtdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1682},{96,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dttbxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1400},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>dwbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,344},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>egg_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,285},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>egg_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,232},{51,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{51,53}</string>
            </dict>
            <key>fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,16},{686,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,5}}</string>
                <key>sourceSize</key>
                <string>{686,5}</string>
            </dict>
            <key>gantanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1237},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>grztxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1303},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>grzy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{96,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>hbsqmz.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1120},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>hbzsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,46}}</string>
                <key>sourceSize</key>
                <string>{184,46}</string>
            </dict>
            <key>hdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{12,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,60}}</string>
                <key>sourceSize</key>
                <string>{12,60}</string>
            </dict>
            <key>hgtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,266},{77,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{77,76}</string>
            </dict>
            <key>hhxtb.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1271},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>left_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,344},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>ltstb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1585},{96,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>ltsxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1206},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>lttm.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,384},{626,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,101}}</string>
                <key>sourceSize</key>
                <string>{626,101}</string>
            </dict>
            <key>lttmcs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{626,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,101}}</string>
                <key>sourceSize</key>
                <string>{626,101}</string>
            </dict>
            <key>right_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,338},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1497},{96,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>shop_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1109},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>small_dim.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1203},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>time_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{176,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,27}}</string>
                <key>sourceSize</key>
                <string>{176,27}</string>
            </dict>
            <key>time_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1167},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>time_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{176,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,27}}</string>
                <key>sourceSize</key>
                <string>{176,27}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1298},{418,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,27}}</string>
                <key>sourceSize</key>
                <string>{418,27}</string>
            </dict>
            <key>title_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,379},{419,28}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{419,28}}</string>
                <key>sourceSize</key>
                <string>{423,28}</string>
            </dict>
            <key>tssth.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1718},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>video.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1488},{96,95}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>video_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1012},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{253,1785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab698f553ea0cdf6ed1944e50f3764f5$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
