<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hang_up_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,318},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Headset_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{354,388},{32,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Prompt_next_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{251,385},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Prompt_next_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{284,385},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Prompt_next_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{317,388},{31,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{153,372},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{326,318},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SSR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,52}</string>
                <key>spriteSourceSize</key>
                <string>{100,52}</string>
                <key>textureRect</key>
                <string>{{153,318},{100,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,26}</string>
                <key>spriteSourceSize</key>
                <string>{56,26}</string>
                <key>textureRect</key>
                <string>{{223,372},{56,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_biaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{69,65}</string>
                <key>textureRect</key>
                <string>{{255,318},{69,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no_Unlock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,315}</string>
                <key>spriteSourceSize</key>
                <string>{200,315}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phone_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,315}</string>
                <key>spriteSourceSize</key>
                <string>{200,315}</string>
                <key>textureRect</key>
                <string>{{203,1},{200,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phone.png</string>
            <key>size</key>
            <string>{404,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38c85f1e92ae7ddc56bebd7aa4ef3991:cac3cdc98521ae7b04ce6d33fd8cc140:a11ef58de83abc03c11f82b71493195e$</string>
            <key>textureFileName</key>
            <string>phone.png</string>
        </dict>
    </dict>
</plist>
