<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Diamonds_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,837},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>Diamonds_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,705},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>Diamonds_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,837},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>big_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,702},{215,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,138}}</string>
                <key>sourceSize</key>
                <string>{215,138}</string>
            </dict>
            <key>btn_touch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,628},{199,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,171}}</string>
                <key>sourceSize</key>
                <string>{199,171}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,507},{196,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,69}}</string>
                <key>sourceSize</key>
                <string>{196,69}</string>
            </dict>
            <key>cj_content_di_gray.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{846,919},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>cj_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,967},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>cj_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,526},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>cj_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,967},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>cj_r_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,801},{177,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,164}}</string>
                <key>sourceSize</key>
                <string>{177,164}</string>
            </dict>
            <key>cjjhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{433,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,49}}</string>
                <key>sourceSize</key>
                <string>{433,49}</string>
            </dict>
            <key>cjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,624}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{712,624}}</string>
                <key>sourceSize</key>
                <string>{714,626}</string>
            </dict>
            <key>cjk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{698,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{698,168}}</string>
                <key>sourceSize</key>
                <string>{698,168}</string>
            </dict>
            <key>content_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,933},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>content_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,919},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>content_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,791},{140,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,130}}</string>
                <key>sourceSize</key>
                <string>{140,130}</string>
            </dict>
            <key>gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{267,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,58}}</string>
                <key>sourceSize</key>
                <string>{267,58}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{447,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,377}}</string>
                <key>sourceSize</key>
                <string>{447,377}</string>
            </dict>
            <key>loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,264},{260,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,8}}</string>
                <key>sourceSize</key>
                <string>{260,8}</string>
            </dict>
            <key>loading_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,2},{260,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,8}}</string>
                <key>sourceSize</key>
                <string>{260,8}</string>
            </dict>
            <key>lw_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,589},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>share_frame_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,628},{161,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,131}}</string>
                <key>sourceSize</key>
                <string>{161,131}</string>
            </dict>
            <key>ydjp.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,271},{234,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,52}}</string>
                <key>sourceSize</key>
                <string>{234,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{1011,1077}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a131dff3a4895c7bf673fe78a8dc2b7$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
