<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btm_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,225}</string>
                <key>spriteSourceSize</key>
                <string>{436,225}</string>
                <key>textureRect</key>
                <string>{{1,933},{436,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{162,1491},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ihp_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{25,1371},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,229}</string>
                <key>spriteSourceSize</key>
                <string>{231,229}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,229}</string>
                <key>spriteSourceSize</key>
                <string>{231,229}</string>
                <key>textureRect</key>
                <string>{{1,234},{231,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,229}</string>
                <key>spriteSourceSize</key>
                <string>{231,229}</string>
                <key>textureRect</key>
                <string>{{1,467},{231,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,229}</string>
                <key>spriteSourceSize</key>
                <string>{231,229}</string>
                <key>textureRect</key>
                <string>{{1,700},{231,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadbar_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,10}</string>
                <key>spriteSourceSize</key>
                <string>{146,10}</string>
                <key>textureRect</key>
                <string>{{1,1371},{146,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loadbarr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,10}</string>
                <key>spriteSourceSize</key>
                <string>{146,10}</string>
                <key>textureRect</key>
                <string>{{13,1371},{144,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>new_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{189,1471},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shidai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{130,1471},{60,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shidai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,15}</string>
                <key>spriteSourceSize</key>
                <string>{16,15}</string>
                <key>textureRect</key>
                <string>{{215,1471},{16,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shidai3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,25}</string>
                <key>spriteSourceSize</key>
                <string>{18,25}</string>
                <key>textureRect</key>
                <string>{{162,1471},{18,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shidai4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{34,30}</string>
                <key>textureRect</key>
                <string>{{130,1533},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shidai5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{1,1519},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sixin_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{30,1471},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiangce_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{98,98}</string>
                <key>textureRect</key>
                <string>{{125,1371},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>user_page.png</string>
            <key>size</key>
            <string>{231,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77c38142a5b5d0c01236cfcd11a28d16:f59e144b1ee0c359720343b4ea3cbbab:e82418f23209f6424d4efebb1718886f$</string>
            <key>textureFileName</key>
            <string>user_page.png</string>
        </dict>
    </dict>
</plist>
