
*{margin:0;padding:0}
body{
	text-align:center;
    background: #fdf0f7;
}
#head_div{
    position: relative;
    width: 1125px;
    text-align: center;
    margin: 0 auto;
}
#head_div .head_img{
    position: relative;
    width: 100%;height: auto;
}
#all{
    position: relative;
    width: 1125px;height: auto;
    margin: 0 auto;
}
#all .head{
    background: #ffffff;
    height: 174px;
}
#all .one{
    position: relative;
    width: 100%;height: auto;
}
#all .one .content {
    position: relative;
    width: 100%;height: auto;
}
#all .one .img{
    position: relative;
    width: 100%;left:0px;
}
#all .one .bottom{
    position: absolute;
    margin: 0 auto;
    bottom: 200px;
    width: 90%;
    left:4%;
    height: 200px;
    transform:scale(1)
}
#all .one .copy{
    position: absolute;
    margin: 0 auto;
    top: 3px;
}
#all .one .tx{
    position: absolute;
    margin: 0 auto;
    top: 27px;
    font-size: 48px;
    color: #ffffff;
    width: 300px;
    height: 96px;
    pointer-events: none
}
#top{
    position: fixed;
    bottom: 240px;
    right: 50px;
    z-index: 999;
}
#tip{
    position: relative;
    margin: 0 auto;
    width: 90%;height: 60px;
    z-index: 999;
    bottom: 800px;
    display: none;
}
#tip font{
    position: absolute;
    margin: 0 auto;
    top: 2px;
    font-size: 27pt;
    color: #ffffff;
    width: 100%;
    height: 54px;
    left:0;
}