@charset "UTF-8";

.psc-align-center {
  text-align: center;
}
.psc-align-center1 {
  position:relative;
  width:1200px;height:20px;
  margin:0px auto;
  min-width:960px;
  text-align: center;
}
.psc-col-white {
  color: #ffffff;
}
.psc-fs12 {
  font-size: 12px;
}
.psc-fs16 {
  font-size: 16px;
}

.psc-fs72 {
  font-size: 72px;
}

.psc-fs12px {
  font-size: 12px;
}

.psc-fs14px {
  font-size: 14px;
}

.psc-fs16px {
  font-size: 16px;
}

.psc-fs18px {
  font-size: 18px;
}

.psc-fs20px {
  font-size: 20px;
}

.psc-fs24px {
  font-size: 24px;
}

.psc-fs32px {
  font-size: 32px;
}

.psc-fs40px {
  font-size: 40px;
}

.psc-fs64px {
  font-size: 64px;
}

.psc-fs72px {
  font-size: 72px;
}

.psc-fw300 {
  font-weight: 300;
}

.psc-fw400 {
  font-weight: 400;
}

.psc-fw700 {
  font-weight: 700;
}

.psc-pd4 {
  padding: 4px;
}

.psc-pdt4 {
  padding-top: 4px;
}

.psc-pdl4 {
  padding-left: 4px;
}

.psc-pdr4 {
  padding-right: 4px;
}

.psc-pdb4 {
  padding-bottom: 4px;
}

.psc-pd8 {
  padding: 8px;
}

.psc-pdt8 {
  padding-top: 8px;
}

.psc-pdl8 {
  padding-left: 8px;
}

.psc-pdr8 {
  padding-right: 8px;
}

.psc-pdb8 {
  padding-bottom: 8px;
}

.psc-pd12 {
  padding: 12px;
}

.psc-pdt12 {
  padding-top: 12px;
}

.psc-pdl12 {
  padding-left: 12px;
}

.psc-pdr12 {
  padding-right: 12px;
}

.psc-pdb12 {
  padding-bottom: 12px;
}

.psc-pd16 {
  padding: 16px;
}

.psc-pdt16 {
  padding-top: 16px;
}

.psc-pdl16 {
  padding-left: 16px;
}

.psc-pdr16 {
  padding-right: 16px;
}

.psc-pdb16 {
  padding-bottom: 16px;
}

.psc-pd24 {
  padding: 24px;
}

.psc-pdt24 {
  padding-top: 24px;
}

.psc-pdl24 {
  padding-left: 24px;
}

.psc-pdr24 {
  padding-right: 24px;
}

.psc-pdb24 {
  padding-bottom: 24px;
}

.psc-pd32 {
  padding: 32px;
}

.psc-pdt32 {
  padding-top: 32px;
}

.psc-pdl32 {
  padding-left: 32px;
}

.psc-pdr32 {
  padding-right: 32px;
}

.psc-pdb32 {
  padding-bottom: 32px;
}

.psc-pd40 {
  padding: 40px;
}

.psc-pdt40 {
  padding-top: 40px;
}

.psc-pdl40 {
  padding-left: 40px;
}

.psc-pdr40 {
  padding-right: 40px;
}

.psc-pdb40 {
  padding-bottom: 40px;
}

.psc-pd64 {
  padding: 64px;
}

.psc-pdt64 {
  padding-top: 64px;
}

.psc-pdl64 {
  padding-left: 64px;
}

.psc-pdr64 {
  padding-right: 64px;
}

.psc-pdb64 {
  padding-bottom: 64px;
}

.psc-l-center {
  margin: 0 auto;
}

.psc-lh18 {
  line-height: 18px;
}
.psc-icon-global {
  background-position: left center;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  background-size: 16px 16px;
}
.psc-bg-footer {
  background-position: center 0;
  background-color: #171717;
  height:80px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.psc-hover-light:hover {
  color: #00a2ff;
}
.psc-back-to-top {
  position: fixed;
  bottom: 42px;
  right: 42px;
  cursor: pointer;
  opacity: 0;
  z-index: 100000;
}

@media screen and (max-width: 860px) {
  .psc-back-to-top {
    position: fixed;
    right: 16px;
    bottom: 16px;
  }
}
.psc-footer-container {
  padding: 16px 0;
  font-size: 62.5%;
  position: relative;
}
.psc-footer-container font{
	font-family: "Microsoft Yahei","仿宋",sans-serif;
	font-size:135%;
	color:#444444;
}
.psc-row-footer {
  position: relative;
  padding: 8px 42px 0;
  margin: 0 auto;
  max-width: 940px;
  width: 100%;
}
.psc-row-footer1 {
  position: relative;
  margin: 20px auto;
  height:20px;
  width: 100%;
}

.psc-cell-footer {
  display: inline-block;
  letter-spacing: normal;
  padding: 4px 8px;
  background-position: right center;
}
.psc-cell-footer:last-child {
  background: none;
}
.psc-cell-footer a {
  font-weight: 400;
}

.psc-cell-footer a {
  color: #ffffff;
  font-size: 12px;
}
.psc-cell-footer a:link {
  text-decoration: none;
  color: #ffffff;
}
.psc-cell-footer a:visited {
  color: #ffffff;
}
.psc-cell-footer a:hover {
  color: #00a2ff;
}

.psc-copyrights {
  font-size: 12px;
  color: #ffffff;
}
.bntb{
  position: absolute;
  left:130px;
  top:-2px;
}
.psc-copyrights0 {
  position: absolute;
  font-size: 75%;
  color: #ffffff;
  left:155px;
  top: -11px
}
.psc-copyrights1 {
  position:absolute;
  font-size: 75%;
  color: #ffffff;
  left:380px;
  top: -11px
}
.psc-copyrights2 {
  position:absolute;
  font-size: 75%;
  color: #ffffff;
  text-align:center;
  left:695px;
  text-decoration:none;
}
.psc-copyrights3 {
  position:absolute;
  font-size: 75%;
  color: #ffffff;
  text-align:center;
  left:885px;
  text-decoration:none;
}
.psc-footer-global {
  text-align: center;
}
.psc-footer-global a {
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  padding: 2.5px 10px 10px 24px;
  vertical-align: middle;
  line-height: 1;
}
.psc-footer-global a:link {
  text-decoration: none;
  color: #ffffff;
}
.psc-footer-global a:visited {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .psc-row-footer {
    width: auto;
  }
  .psc-row-footer1 {
    width: auto;
  }
}
.psc-link-mdd {
  display: block;
  text-align: center;
}
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
